<div *ngIf="!mobHeader" class="header">
    <div>
        <span (click)="scrollView('home')">Home</span>
        <span (click)="scrollView('about')">About</span>
        <span (click)="scrollView('skills')">Skills</span>
        <span (click)="scrollView('exp')">Experience</span>
        <span (click)="scrollView('contact')">Contact</span>
    </div>
</div>
<div *ngIf="mobHeader" class="mob-header">
    <div class="menus" (click)="showMenu = !showMenu"><i class="fa-solid fa-bars"></i></div>
    <ng-container *ngIf="showMenu; then menu"></ng-container>
</div>
<app-profile-home (showDiv)="checkDiv($event)"></app-profile-home>

<ng-template #menu>
    <div *ngIf="showMenu" class="submenus">
        <span (click)="scrollView('home')">Home</span>
        <span (click)="scrollView('about')">About</span>
        <span (click)="scrollView('skills')">Skills</span>
        <span (click)="scrollView('exp')">Experience</span>
        <span (click)="scrollView('contact')">Contact</span>
    </div>
</ng-template>