@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); //Poppind Font from google API
html, body { height: 100%; scroll-behavior: smooth;}
body {
    margin: 0;
    background-color: var(--main-Bg);
}
:root { // global variables
    --font-family: 'Poppins', sans-serif; // font-family
    --main-Bg: hsl(193, 29%, 16%); // body background
    --lightFont: #fff; // text
    --mediumFont: hsl(193,8%,75%,1); // lighter font for paragraphs
    --darkFont: #1b1e26; // contrast color 
    --black: black;
    --grad1: #36cfd9; // header highlight
    --grad2: #36cfd9; // image-container background
    --grad3: #37494b; // header n footer background
    --white: #ffffff;
    --scroll-bar-color: #1cc5d4;
    --darkbgview: #1b1e268f; // scroll bar thumb
    --mb-menu-bg: #488d8c; // mobile header background
    --red: red;
    --glass1: rgba(52, 139, 149, 0.3); // site-info background
    --glass2: rgba(37, 230, 252, 0.3);  // site-info background
    --gloss-icon: rgba(37, 230, 252, 0.28); // i icon background image
}

body.light-theme{ // light theme
        --main-Bg: #c5f7fb;
        --lightFont: #000000;
        --mediumFont: hsl(189,38%,20%,1);
        --darkFont: #aee7f0;
        --grad1: #56ebf5;
        --grad2: hsl(193, 29%, 16%);
        --grad3: hsl(193, 26%, 24%);
        --auth: 4D756B696C616E2053;
}

::-webkit-scrollbar{ // scrollbar background
    width: .60rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{ // scrollbar
    background-color: var(--darkbgview);
    border-radius: .5rem;
}

.med-col{
    color: var(--mediumFont);
}

.mgb-1-5 {
    margin-bottom: 1.5em !important;
}
